const values = {
  "374188134013075467": { //XP 日本
    "radioChatCnls": {
      'XP_radio802': 'xp_radio802',
      'freetalk': 'vc_freetalk',
      'VC_2': 'vc_2_txt',
      'developer_only': '',
      'ofuton': ''
    }
  },
  
  getValues: (gID) => {
    console.log(gID);
    if(gID in values) return values[gID];
    else return null;
  }
};

module.exports = values;
